[Unit]
Description=Lenovo server backend 01
After=network.target

[Service]
User=flaskuser
Group=flaskuser
Environment="PATH=/opt/flask01be/.venv/bin"
Environment="FLASK_DEBUG=development"
Environment="APP_SETTINGS=config.DevelopmentConfig"
WorkingDirectory=/opt/flask01be/wks
ExecStart=/opt/flask01be/.venv/bin/python3 /opt/flask01be/flaskdeb01be.py
Restart=always

[Install]
WantedBy=multi-user.target
Alias=flaskdeb01be.service
